name: Build

env:
  NODE_VERSION: '22.x'
  DOTNET_VERSION: '10.0.x'

on:
  workflow_dispatch:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

permissions:
  contents: read
  deployments: write
  pages: write
  id-token: write

jobs:
  backend:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: recursive

      - uses: actions/setup-dotnet@v5
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - run: dotnet build src/RavenDB.Samples.Library.sln

  frontend:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: recursive
      
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_VERSION }}
